__pycache__
.conda
wandb
DFAD_CVPRW24
lightning_logs
*.tar
*.pth
*.pyc
_*
*.ckpt
.DS_Store
.venv/
BNext/
datasets/
weights/
self_trained/
pretrained/
logs/
.env
configs_old/
final_trained/
wandb_old/
wandb/
logs/